@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #202124;
  --secondary-color: #e2e2e2;
  --tertiary-color: #f8bc12;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.header {
  box-shadow: inset 0 -1px 0 0 #5f6368;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  align-items: center;
}
.header h1 {
  font-size: 1.5rem;
}

.create-note {
  position: relative;
  width: 80%;
  margin: 32px auto 50px auto;
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
  border: 1px solid #5f6368;
  height: fit-content;
  max-width: 768px;
}

.create-note textarea {
  background-color: inherit;
  border: 0;
  outline: none;
  color: #e2e2e2;
  font-family: inherit;
  /* margin: 0px 41px 0px 0px; */
  font-size: 1rem;
  resize: none;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.create-note input {
  background-color: inherit;
  border: 0;
  outline: none;
  color: #e2e2e2;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.create-note .add-note {
  background-color: #f8bc12;
  border-radius: 50%;
  border: 0;
  position: absolute;
  bottom: -20%;
  right: 5%;
  height: 3rem;
  width: 3rem;
  outline: none;
  color: var(--primary-color);
}

.create-note .add-note:active {
  transform: scaleY(0.95) scaleX(0.95);
}

.note {
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
  border: 1px solid #5f6368;
  width: 240px;
  margin: 1rem;
  float: left;
}

.note h1 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.note p {
  margin-bottom: 0.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}
